<%- model_class = Prediction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:game_id) %></th>
      <th><%= model_class.human_attribute_name(:country1_id) %></th>
      <th><%= model_class.human_attribute_name(:country2_id) %></th>
      <th><%= model_class.human_attribute_name(:country1_goals) %></th>
      <th><%= model_class.human_attribute_name(:country2_goals) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @predictions.each do |prediction| %>
      <tr>
        <td><%= link_to prediction.id, prediction_path(prediction) %></td>
        <td><%= prediction.user_id %></td>
        <td><%= prediction.game_id %></td>
        <td><%= prediction.country1_id %></td>
        <td><%= prediction.country2_id %></td>
        <td><%= prediction.country1_goals %></td>
        <td><%= prediction.country2_goals %></td>
        <td><%=l prediction.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_prediction_path(prediction), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      prediction_path(prediction),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_prediction_path,
            :class => 'btn btn-primary' %>
