<%- model_class = User -%>
<div class="page-header">
  <h2>Quiniela de <%= @user.name %></h2>
</div>
<dl class="dl-horizontal">
  <dt><strong>Total puntos:</strong></dt>
  <dd><%= @points %></dd>
</dl>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#grupos" data-toggle="tab">Fase de Grupos</a></li>
  <li><a href="#final" data-toggle="tab">Fase Final</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="grupos">
    <ul class="nav nav-tabs">
      <% @groups.each_with_index do |group, index| %>
        <li <%= index == 0 ? 'class=active' : '' %>>
          <a href="#grupo_<%= group.code %>" data-toggle="tab">Grupo <%= group.code %></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @groups.each_with_index do |group, index| %>
        <div class="tab-pane <%= index == 0 ? 'active' : '' %>" id="grupo_<%= group.code %>">
          <h4>Grupo <%= group.code %></h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th><!-- Pais 1 --></th>
                <th><!-- Goles pais 1 --></th>
                <th><!-- Guion --></th>
                <th><!-- Goles pais 2 --></th>
                <th><!-- Pais 2 --></th>
                <th>Puntos</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @predictions[group.id].each do |p| %>
                <tr>
                  <td><%= p.game.date.strftime('%Y-%m-%d') %></td>
                  <td class="right"><%= p.game.country1.name %> <%= image_tag "#{p.game.country1.code}.png", class: 'flag-icon' %></td>
                  <td class="right"><%= p.country1_goals.nil? ? '-' : p.country1_goals %></td>
                  <td class="center">:</td>
                  <td class="left"><%= p.country2_goals.nil? ? '-' : p.country2_goals %></td>
                  <td class="left"><%= image_tag "#{p.game.country2.code}.png", class: 'flag-icon' %> <%= p.game.country2.name %></td>
                  <td><%= p.points %></td>
                  <td>
                    <%= link_to 'Editar predicción', edit_prediction_path(p), :class => 'btn btn-mini' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        <% end %>
      </div>
  </div>
  <div class="tab-pane" id="final">
    Fase Final
  </div>
</div>