<%- model_class = Game -%>
<div class="page-header">
  <h2>Resultados</h2>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#grupos" data-toggle="tab">Fase de Grupos</a></li>
  <li><a href="#final" data-toggle="tab">Fase Final</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="grupos">
    <ul class="nav nav-tabs">
      <% @groups.each_with_index do |group, index| %>
        <li <%= index == 0 ? 'class=active' : '' %>>
          <a href="#grupo_<%= group.code %>" data-toggle="tab">Grupo <%= group.code %></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @groups.each_with_index do |group, index| %>
        <div class="tab-pane <%= index == 0 ? 'active' : '' %>" id="grupo_<%= group.code %>">
          <h4>Posiciones</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="center">Equipo</th>
                <th class="center">Puntos</th>
                <th class="center">PJ</th>
                <th class="center">PG</th>
                <th class="center">PE</th>
                <th class="center">PP</th>
                <th class="center">GF</th>
                <th class="center">GC</th>
                <th class="center">Dif</th>
                <!-- <th>Acciones</th> -->
              </tr>
            </thead>
            <tbody>
              <% group.countries.order('points DESC, dif DESC, gf DESC').each do |country| %>
                <tr>
                  <td><%= image_tag "#{country.code}.png", class: 'flag-icon' %> <%= country.name %></td>
                  <td class="center"><%= country.points %></td>
                  <td class="center"><%= country.pj %></td>
                  <td class="center"><%= country.pg %></td>
                  <td class="center"><%= country.pe %></td>
                  <td class="center"><%= country.pp %></td>
                  <td class="center"><%= country.gf %></td>
                  <td class="center"><%= country.gc %></td>
                  <td class="center"><%= country.dif %></td>
                  <!--
                  <td>
                    <%= link_to 'Editar',
                                edit_country_path(country), :class => 'btn btn-mini' %>
                    <%= link_to 'Eliminar',
                                country_path(country),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro?')) },
                                :class => 'btn btn-mini btn-danger' %>
                  </td>
                  -->
                </tr>
              <% end %>
            </tbody>
          </table>
          <h4>Resultados</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th><!-- Pais 1 --></th>
                <th><!-- Goles pais 1 --></th>
                <th><!-- Guion --></th>
                <th><!-- Goles pais 2 --></th>
                <th><!-- Pais 2 --></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% group.games.order('date ASC').each do |game| %>
                <tr>
                  <td><%= game.date.strftime('%Y-%m-%d') %></td>
                  <td class="right"><%= game.country1.name %> <%= image_tag "#{game.country1.code}.png", class: 'flag-icon' %></td>
                  <td class="right"><%= game.country1_goals.nil? ? '-' : game.country1_goals %></td>
                  <td class="center">:</td>
                  <td class="left"><%= game.country2_goals.nil? ? '-' : game.country2_goals %></td>
                  <td class="left"><%= image_tag "#{game.country2.code}.png", class: 'flag-icon' %> <%= game.country2.name %></td>
                  <td>
                    <%= link_to 'Actualizar resultado', edit_game_path(game), :class => 'btn btn-mini' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="final">
    Fase Final
  </div>
</div>