<%- model_class = Game -%>
<div class="page-header">
  <h2>Resultados</h2>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <% (Game::FASEDEGRUPOS .. Game::FINAL).each do |type| %>
    <li class="<%= type == Game::FASEDEGRUPOS ? 'active' : '' %>">
      <a href="#fase_<%= type %>" data-toggle="tab"><%= Game::TYPE_STRINGS[type] %></a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="fase_<%= Game::FASEDEGRUPOS %>">
    <ul class="nav nav-tabs">
      <% @groups.each_with_index do |group, index| %>
        <li <%= index == 0 ? 'class=active' : '' %>>
          <a href="#grupo_<%= group.code %>" data-toggle="tab">Grupo <%= group.code %></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @groups.each_with_index do |group, index| %>
        <div class="tab-pane <%= index == 0 ? 'active' : '' %>" id="grupo_<%= group.code %>">
          <h4>Posiciones</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="center">Equipo</th>
                <th class="center">Puntos</th>
                <th class="center">PJ</th>
                <th class="center">PG</th>
                <th class="center">PE</th>
                <th class="center">PP</th>
                <th class="center">GF</th>
                <th class="center">GC</th>
                <th class="center">Dif</th>
              </tr>
            </thead>
            <tbody>
              <% group.countries.order('points DESC, dif DESC, gf DESC').each do |country| %>
                <tr>
                  <td><%= image_tag "#{country.code}.png", class: 'flag-icon' %> <%= country.name %></td>
                  <td class="center"><%= country.points %></td>
                  <td class="center"><%= country.pj %></td>
                  <td class="center"><%= country.pg %></td>
                  <td class="center"><%= country.pe %></td>
                  <td class="center"><%= country.pp %></td>
                  <td class="center"><%= country.gf %></td>
                  <td class="center"><%= country.gc %></td>
                  <td class="center"><%= country.dif %></td>
                  <!--
                  <td>
                    <%= link_to 'Editar',
                                edit_country_path(country), :class => 'btn btn-mini' %>
                    <%= link_to 'Eliminar',
                                country_path(country),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro?')) },
                                :class => 'btn btn-mini btn-danger' %>
                  </td>
                  -->
                </tr>
              <% end %>
            </tbody>
          </table>
          <h4>Resultados</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th><!-- Pais 1 --></th>
                <th><!-- Goles pais 1 --></th>
                <th><!-- Guion --></th>
                <th><!-- Goles pais 2 --></th>
                <th><!-- Pais 2 --></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% group.games.order('date ASC').each do |game| %>
                <tr>
                  <td><%= game.date.strftime('%Y-%m-%d') %></td>
                  <td class="right"><%= game.country1.name %> <%= image_tag "#{game.country1.code}.png", class: 'flag-icon' %></td>
                  <td class="right"><%= game.country1_goals.nil? ? '-' : game.country1_goals %></td>
                  <td class="center">:</td>
                  <td class="left"><%= game.country2_goals.nil? ? '-' : game.country2_goals %></td>
                  <td class="left"><%= image_tag "#{game.country2.code}.png", class: 'flag-icon' %> <%= game.country2.name %></td>
                  <td>
                    <%= link_to 'Actualizar resultado', edit_game_path(game), :class => 'btn btn-mini' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="fase_<%= Game::OCTAVOS %>">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Número</th>
          <th>Fecha</th>
          <th><!-- Pais 1 --></th>
          <th><!-- Goles pais 1 --></th>
          <th><!-- Guion --></th>
          <th><!-- Goles pais 2 --></th>
          <th><!-- Pais 2 --></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% Game.where(type: Game::OCTAVOS).each do |game| %>
          <tr>
            <td><%= game.number %></td>
            <td><%= game.date.strftime('%Y-%m-%d') %></td>
            <% unless game.country1_id.nil? %>
              <td class="right"><%= game.country1.name %> <%= image_tag "#{game.country1.code}.png", class: 'flag-icon' %></td>
            <% else %>
              <td class="right">Primero Grupo <%= game.first_place_group.code %> <%= image_tag "none.png", class: 'flag-icon' %></td>
            <% end %>
            <td class="right"><%= game.country1_goals.nil? ? '-' : game.country1_goals %></td>
            <td class="center">:</td>
            <td class="left"><%= game.country2_goals.nil? ? '-' : game.country2_goals %></td>
            <% unless game.country2_id.nil? %>
              <td class="left"><%= image_tag "#{game.country2.code}.png", class: 'flag-icon' %> <%= game.country2.name %></td>
            <% else %>
              <td class="left"><%= image_tag "none.png", class: 'flag-icon' %> Segundo Grupo <%= game.second_place_group.code %></td>
            <% end %>
            <td>
            <% if game.defined %>
              <%= link_to 'Actualizar resultado', edit_game_path(game), :class => 'btn btn-mini' %>
            <% end %>
            </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% (Game::CUARTOS .. Game::FINAL).each do |type| %>
    <div class="tab-pane" id="fase_<%= type %>">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Número</th>
            <th>Fecha</th>
            <th><!-- Pais 1 --></th>
            <th><!-- Goles pais 1 --></th>
            <th><!-- Guion --></th>
            <th><!-- Goles pais 2 --></th>
            <th><!-- Pais 2 --></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% Game.where(type: type).each do |game| %>
            <tr>
              <td><%= game.number %></td>
              <td><%= game.date.strftime('%Y-%m-%d') %></td>
              <% unless game.country1_id.nil? %>
                <td class="right"><%= game.country1.name %> <%= image_tag "#{game.country1.code}.png", class: 'flag-icon' %></td>
              <% else %>
                <td class="right"><%= type != Game::TERCERO ? 'Ganador' : 'Perdedor' %> juego <%= game.previous_match1.number %> <%= image_tag "none.png", class: 'flag-icon' %></td>
              <% end %>
              <td class="right"><%= game.country1_goals.nil? ? '-' : game.country1_goals %></td>
              <td class="center">:</td>
              <td class="left"><%= game.country2_goals.nil? ? '-' : game.country2_goals %></td>
              <% unless game.country2_id.nil? %>
                <td class="left"><%= image_tag "#{game.country2.code}.png", class: 'flag-icon' %> <%= game.country2.name %></td>
              <% else %>
                <td class="left"><%= image_tag "none.png", class: 'flag-icon' %> <%= type != Game::TERCERO ? 'Ganador' : 'Perdedor' %> juego <%= game.previous_match2.number %></td>
              <% end %>
              <td>
              <% if game.defined %>
                <%= link_to 'Actualizar resultado', edit_game_path(game), :class => 'btn btn-mini' %>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>